:root {
  --pretty-modal-modal-container-background-color: #23222d;
  --pretty-modal-modal-container-border-radius: 10px;
}

body {
  background: #0f0e0e;
}

.btn-outline-warning {
  color: #ceb775;
  border-color: #ceb775;
}

.btn-outline-warning:focus {
  box-shadow: 0 0 0 0.2rem #ceb775;
  -webkit-box-shadow: 0 0 0 0.2rem #ceb775;
  outline: 0;
}

.btn-outline-warning:hover,
.btn-outline-warning:active {
  color: #fff;
  background-color: #ceb775;
  border-color: #ceb775;
}

.form-input {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: #ceb775;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  font-size: 18px;
}
