body {
  background: #0f0e0e;
}

.btn-outline-warning {
  color: #ceb775;
  border-color: #ceb775;
}

.btn-outline-warning:focus {
  box-shadow: 0 0 0 0.2rem #ceb775;
  -webkit-box-shadow: 0 0 0 0.2rem #ceb775;
  outline: 0;
}

.btn-outline-warning:hover,
.btn-outline-warning:active {
  color: #fff;
  background-color: #ceb775;
  border-color: #ceb775;
}
